<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Learn how to create the Matrix Rain Effect with HTML, CSS, and JavaScript. Step-by-step guide and code snippets included.">
    <meta name="google-adsense-account" content="ca-pub-4548908538788244">
    <meta name="keywords" content="Matrix Rain Effect, HTML, CSS, JavaScript, Code Snippets, Programming Tutorials">
    <meta name="author" content="DLastCodeBender">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/path/to/styles/default.css"/>
    <script src="/path/to/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <link rel="stylesheet" href="\assets\css\post-style.css">
    <link rel="stylesheet" href="\assets\css\style.css">
    <link rel="stylesheet" href="\assets\css\navbar.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css">
    <title>DLastCodeBender</title>
    <!-- Link to the external CSS file -->
    <script src="\assets\js\homepage.js"></script>

   <div class="background">
     <div class="radial-effect"></div>
   </div>
 </head>
 <body>


  <!-- Header Section -->
  <header>
    <div class="logo-container">
      <a href="https://DLastCodeBender.com.ng">
        <img src="/assets/images/logo.png" alt="Web Page Icon" class="icon-image">
      </a>
    </div>

    <script type='text/javascript' src='//pl25159117.profitablecpmrate.com/3a/15/0d/3a150dd11ba295e2518413865f21c92e.js'></script>
  </header>


  <!-- Main Content -->
  <main>
    {{ content }}
  </main>

  

  
  <footer class="footer">
    <div class="footer-content">
      <div class="footer-left">
        <h2>DLastCodeBender</h2>
      </div>
      <div class="footer-links">
        <ul>
            <li><a href="https://DLastCodeBender.com.ng">Home</a></li>
            <li><a href="https://DLastCodeBender.com.ng/about.html">About</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="footer-socials">
        <a href="https://www.tiktok.com/@dlastcodebender" class="social-icon"><i class="fab fa-tiktok"></i></a>
        <a href="https://web.facebook.com/DLastCodeBender/" class="social-icon"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/dlastcodebender_/" class="social-icon"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/@DLastCodeBender" class="social-icon"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 DLastCodeBender | All Rights Reserved</p>
    </div>
  </footer>

 </body>
</html>
